* {
    font-family: Poppins;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #f4f4f4;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
}

header .logo {
    height: 50px;
    margin-left: 10px;
}

header nav {
    margin-left: auto;
    margin-right: 20px;
    display: flex;
    gap: 50px;
    align-items: center;
}

.header_link {
    color: #003F72;
    text-decoration: none;
    font-weight: 500;
    width: 120px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#go_app {
    cursor: pointer;
    border-radius: 25px;
    width: 120px;
    height: 40px;
    background-color: #004B87;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_link:hover {
    text-decoration: underline;
    background-color: #75BFBE;
    color: white;
}

.header_link.active {
    background-color: #002C4F;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.hero section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
}

.hero section img {
    height: 300px;
    margin-top: 6px;
}

.hero_top {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 60px 40px;
    flex-wrap: wrap;
}

.hero_top #text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    gap: 12px;
    max-width: 500px;
}

.hero h3 {
    font-size: 1.5rem;
    font-weight: 800;
}

.hero p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
}

.hero_middle {
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 60px 40px;
    flex-wrap: wrap;
}

.hero_middle #text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 12px;
    max-width: 500px;
}

.hero_bottom {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 60px 40px;
    flex-wrap: wrap;
}

.hero_bottom #text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    gap: 12px;
    max-width: 500px;
}

footer {
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
    font-size: 0.9rem;
}